@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --light-grey: #959595;
  --grey: #282828;
  --white: rgb(240, 240, 240);
  --green: #5fbaa7;
  --occupied-color: #ba0000;
  --selected-blue: #17b9f1;
}

body {
  background-color: var(--white);
  color: var(--grey);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--green);
}

p {
  text-align: center;
}

.btn {
  color: var(--white);
  background-color: var(--green);
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  outline: 0;
  border: 0;
  padding: 5px 15px;
}

.money-img {
  max-width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currency select {
  padding: 10px 25px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  border: 1px solid #dedede;
  font-size: 1em;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-position: right 7px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency input {
  border: 0;
  background: transparent;
  background: rgba(0, 0, 0, 0);
  font-size: 1.5em;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: var(--green);
  font-size: 1em;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
